<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ürün Takibi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let urun of urunler" (click)="detayGoster(urun)">
<ion-label>{{urun.ad}}</ion-label>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="kayitEkle()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
